.landingcontainerlogin {
  height: 91.85vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #171e24;
  object-fit: contain;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Inter";
}

.potatocard {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: row;
  background-color: #171e24;
  align-items: center;
  justify-content: center;
  /* border-color: white;
  border-width: 2px; */
}
.buttonText {
  font-family: "Inter";
  margin-top: 10%;
}
.spacing {
  margin-top: 2%;
}
.prependstyling1 {
  font-family: "Inter";
}
.google {
  display: flex;
  align-items: center;
  margin-top: 10%;
}
