.dashcontainer {
  height: 19vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  object-fit: contain;
  overflow-x: hidden;
  border-top: 1px solid darkgray;
}

.dashcontainer > h4 {
  text-align: "center";
  margin-top: 4%;
  font-weight: 350;
}

.dashcontainer2 {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  object-fit: contain;
  overflow-x: hidden;
  overflow-y: hidden;
}
.cardcomp {
  width: 20rem;
  height: 18rem;
  margin-right: 5%;
  overflow-y: hidden;
  background-color: #171e24;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: 0 0 5px 5px lightgray;
}
.dashcontainer2 > h3 {
  margin-top: 7%;
  font-weight: 450;
}

.dashcontainer3 {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  object-fit: contain;
  overflow-x: hidden;
}

.dashcontainer3 > h3 {
  margin-top: 7%;
  font-weight: 450;
}

.dashcontainer4 {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  object-fit: contain;
  overflow-x: hidden;
}

.dashcontainer4 > h3 {
  margin-top: 7%;
  font-weight: 450;
}

@media only screen and (max-width: 768px) {
  .mainDashContainer {
    width: 130%;
    overflow-y: hidden;
  }
  .dashcontainer {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    object-fit: contain;
    overflow-x: hidden;
    border-top: 1px solid darkgray;
  }
  
  .dashcontainer2 {
    height: 111.8vh;
    width: 100%;
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    object-fit: contain;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}