.m-auto {
  display: flex;
  align-items: center;
  background-color: white;
}

.brand {
  font-size: 40;
  text-align: center;
  font-weight: 600;
  font-family: "Inter";
  text-decoration: "none";
  color: white;
}
