.authorContainer1 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #343a40;
}

.rowContainer1 {
  height: 100vh;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
}

.rowContainer2 {
  height: 100vh;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.bestOf {
  height: 40vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
}

.scrollView {
  height: 50vh;
  width: 100%;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.institution {
  height: 10vh;
  width: 65%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
}

.marketlink {
  height: 20vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.kas {
  color: "pink";
}

.researchFocuses {
  height: 10vh;
  width: 65%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
}
